<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.apptrove.cordova_sdk" version="2.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>AppTroveCordovaPlugin</name>
    <js-module name="AppTroveCordovaPlugin" src="www/AppTroveCordovaPlugin.js">
        <clobbers target="cordova.plugins.AppTroveCordovaPlugin" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AppTroveCordovaPlugin">
                <param name="android-package" value="com.apptrove.cordova_sdk.AppTroveCordovaPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/AppTroveCordovaPlugin.java" target-dir="src/com/apptrove/cordova_sdk/AppTroveCordovaPlugin" />
        <framework src="com.apptrove:android-sdk:2.0.0" />
        <source-file src="src/android/AppTroveCordovaUtil.java" target-dir="src/com/apptrove/cordova_sdk/AppTroveCordovaUtil" />
    </platform>
    <platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="AppTroveCordovaPlugin">
				<param name="ios-package" value="AppTroveCordovaPlugin" />
			</feature>
		</config-file>
		<source-file src="src/ios/AppTroveCordovaPlugin.swift" />
       <podspec>
            <pods use-frameworks="true">
                <pod name="apptrove-ios-sdk" spec="~> 2.0.0" />
            </pods>
        </podspec>
	</platform>
</plugin>
