<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com-trackier-cordova_sdk" version="1.0.0">
   <name>CordovaTrackierPlugin</name>
   <js-module name="CordovaTrackierPlugin" src="www/CordovaTrackierPlugin.js">
      <clobbers target="cordova.plugins.CordovaTrackierPlugin" />
   </js-module>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="CordovaTrackierPlugin">
            <param name="android-package" value="com-trackier-cordova_sdk.CordovaTrackierPlugin" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/CordovaTrackierPlugin.java" target-dir="src/com-trackier-cordova_sdk/CordovaTrackierPlugin" />
        <framework custom="true" src="src/android/cordova_sdk-gradle.gradle" type="gradleReference" />
   </platform>
</plugin>